@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
    
    .container{
        position: relative;
        // @include center();


        .welcome-txt{
            z-index: 100;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            text-align: center;
            background-color: #fff;
        }

        .add-event{
            margin: 0px auto;
            position: relative;
            width: 50%;
            height: 100vh;
            @include center();
            flex-direction: column;
            
            h3{
                margin: 100px auto 20px;
            }
            .form{
                width: 100%;
            }
            input, textarea, button{
                display: block;
                width: 100%;
                margin: 5px auto;
                padding: 10px 5px;
            }
            input, textarea{
                
            }
        }
    }
}

@keyframes crwalUp{
    0%{
        top: 50%;
    }
    100%{
        top: 10%;
    }
}