body{
    background: #fff;
    scroll-behavior: smooth;
    overflow: hidden;
    font-size: 20px;
}
.login-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container .sub-container{
    width: 50%;
    border: 1px solid #bbb;
    padding: 40px;
}
.login-container input:focus{
    border: 1px solid #dc3545;
}
.form-control:focus {
    box-shadow: none;
}
.login-container form .btn{
    display: flex;
    margin: auto;
} 